[bumpversion]
current_version = 0.1.7
commit           = True
tag              = True

[bumpversion:file:pyproject.toml]
search  = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:uv.lock]
search  = name = "mongo-memory"
          version = "{current_version}"
replace = name = "mongo-memory"
          version = "{new_version}"
